<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v3">docs</a> will be your guide.
  </p>

  <button type="button" name="button" (click)="createFile()">Test</button>
</ion-content>
